 /* Global Styles */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        header {
            background-color: #444444;
            color: white;
            text-align: center;
            padding: 20px;

        }
      .photo img {
          max-width: 250px; 
          margin-right: 2px;
      }
        nav{
            background-color: #687781;
            padding: 2%;
        }
        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        nav li {
            display: inline;
            margin-right: 20px;
        }
        nav a {
            text-decoration: none;
            color: #ffffff;
            font-weight: bold;
        }
        nav a:hover {
            text-decoration: underline;
        }
        section {
            background-color: rgba(255, 255, 255, 0.5);
            margin:0;
            padding: 5%;
        }
        footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 10px;
        }


        /* Styles for Specific Sections */
        h1 {
            font-size: 36px;
        }
        h2 {
            font-size: 30px;
            margin: 7%;
            margin-bottom: none;
        }
        p {
            line-height: 1.5;
        }
a {
  color: #000000;
  text-decoration: none; 
}

a:visited {
  color: #ffffff; 
}
a:hover {
  text-decoration: underline;
}
a:active {
  color: #ff4500; 
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    background: #f1f1f1f1;
  }
  
  /* Slides */
  .mySlides {
    display: none;
    padding: 80px;
    text-align: center;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
  }
  
  /* The dot/bullet/indicator container */
  .dot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  /* Add a background color to the active dot/circle */
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Add an italic font style to all quotes */
  q {font-style: italic;}
  
  /* Add a blue color to the author */
  .author {
    color: cornflowerblue;
   }

input[type='text']:focus, [type='email']:focus, textarea:focus {
	outline: none;
	padding: 0 0 0.875em 0;
}

button, input, textarea {
  color: #5A5A5A;
  font: inherit;
  margin: 0;
}

input {
  line-height:normal;
}

textarea {
  overflow: auto;
}

#container {
  border: solid 3px #474544;
  max-width: 768px;
  margin: 60px auto;
  position: relative;
}

form {
  padding: 37.5px;
  margin: 50px 0;
}

.underline {
  border-bottom: solid 2px #474544;
  margin: -0.512em auto;
  width: 80px;

}


.email {
	float: right;
	width: 45%;
}

input[type='text'], [type='email'], textarea {
	background: none;
  border: none;
	border-bottom: solid 2px #474544;
	color: #474544;
	font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
	margin: 0em 0 1.875em 0;
	padding: 0 0 0.875em 0;
  text-transform: uppercase;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

input[type='text']:focus, [type='email']:focus, textarea:focus {
	outline: none;
	padding: 0 0 0.875em 0;
}

.message {
	float: none;
}

.name {
	float: left;
	width: 45%;
}

textarea {
	line-height: 150%;
	height: 150px;
	resize: none;
  width: 100%;
}

::-webkit-input-placeholder {
	color: #474544;
}

:-moz-placeholder { 
	color: #474544;
	opacity: 1;
}

::-moz-placeholder {
	color: #474544;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #474544;
}

#form_button {
  background: none;
  border: solid 2px #474544;
  color:#474544;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

#form_button:hover {
  background: #474544;
  color: #F2F3EB;
}

@media screen and (max-width: 768px) {
  #container {
    margin: 20px auto;
    width: 95%;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 26px;
  }
  
  .underline {
    width: 68px;
  }
  
  #form_button {
    padding: 15px 25px;
  }
}

@media screen and (max-width: 420px) {
  
  .icon {
    height: 35px;
    width: 35px;
  }
  
  .underline {
    width: 50px;
  }
  
  input[type='text'], [type='email'], textarea {
    font-size: 0.875em;
  }
}
/* styles.css */
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1; /* Place the background behind other content */
}

/* For larger screens (laptops/desktops) */
@media screen and (min-width: 768px) {
  .background {
      background-image: url('https://miro.medium.com/v2/resize:fit:1200/1*CaGprcfCO6NKST4AmJxeAg.jpeg'); /* Replace with your desktop image file path */
  }
}

/* For smaller screens (mobile devices) */
@media screen and (max-width: 767px) {
  .background {
      background-image: url('https://myanimelist.net/images/anime/1200/111522.jpg'); /* Replace with your mobile image file path */
  }
}